<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/HomeStyle.css" />
  </head>
  <body>
    <header>
      <div id="mainButton">
        <img id="dabblelogImg" src="../image/logo.png" width="15%" />
        <button id="dabblelog">dabblelog</button>
      </div>
      <div id="searchAndProfile">
        <button id="newPost">새 글 작성하기</button>
        <button
          id="login"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          로그인
        </button>

        <div id="profile">
          <button class="profile"></button>
          <button class="profile" id="modal"></button>
        </div>

        <img id="alarm" class="alarm" src="../image/alarm.png" height="20.91" />
        <img
          id="search"
          class="alarm"
          src="../image/serarch.png"
          height="20.91"
        />
      </div>
    </header>
    <br />
    <nav>
      <div id="trending">
        <img id="trendImg" src="../image/trendAndNew.png" width="15%" />
        <button class="word">트렌딩</button>
      </div>
      <div id="new">
        <img id="newImg" src="../image/new.png" width="18%" />
        <button class="word">최신</button>
      </div>
      <div id="feed">
        <img id="feedImg" src="../image/feed.png" width="15%" />
        <button class="word">피드</button>
      </div>
      <div id="calendar">
        <button id="calWord">이번 주</button>
        <img id="calImg" src="../image/model.png" width="10%" />
      </div>
    </nav>
    <article>
      <section id="loginForm">
        <h2>구글 계정으로 로그인</h2>
      </section>
    </article>
  </body>
</html>
