<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../../static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="../../static/assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <header id="header">
        <div id="mainButton" style="display: flex; align-items: flex-end">
          <h1 style="display: flex; align-items: flex-end">
            <span style="display: inline-block" class="badge bg-secondary"
              >dabblelog</span
            >
          </h1>
        </div>
        <div id="searchAndProfile" style="display: flex; flex-direction: row-reverse; ">
          <button id="newPost"
            style="visibility: hidden; position: absolute; opacity: 0">새 글 작성하기</button>
          <button
            id="login"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            type="button"
            onclick="location.href='/login'"
          >
            로그인
          </button>

          <div
            id="profile"
            style="visibility: hidden; position: absolute; opacity: 0"
          >
            <img id="profileImg" />
            <svg
              id="profileTriangle"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              style="display: inline-block;"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.4em"
            height="1.4em"
            style="display: inline-block;"
            fill="currentColor"
            class="bi bi-bell"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"
            />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
          style="display: inline-block; "
           class="bi bi-search"
           viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </div>
      </header>
      <section id="content" class="main">
      <div id="main">
        <nav id="nav">
          <ul>
            <li>트렌딩</li>
            <li>최신</li>
            <li>피드</li>
          </ul>
        </nav>
      </div>
      </section>
     </div>

    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/js/jquery.scrollex.min.js"></script>
    <script src="../../static/assets/js/jquery.scrolly.min.js"></script>
    <script src="../../static/assets/js/browser.min.js"></script>
    <script src="../../static/assets/js/breakpoints.min.js"></script>
    <script src="../../static/assets/js/util.js"></script>
    <script src="../../static/assets/js/main.js"></script>
  </body>
</html>
