<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>dabblelog.post</title>

    <!-- Favicon -->
    <link
      rel="icon"
      href="../../static/img/realLogo.png"
      th:href="@{/img/realLogo.png}"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../static/css/bootstrap.min.css"
    />
    <!-- Nice Select CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/nice-select.css}"
      href="../../static/css/nice-select.css"
    />
    <!-- Font Awesome CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/font-awesome.min.css}"
      href="../../static/css/font-awesome.min.css"
    />
    <!-- icofont CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/icofont.css}"
      href="../../static/css/icofont.css"
    />
    <!-- Slicknav -->
    <link
      rel="stylesheet"
      th:href="@{/css/slicknav.min.css}"
      href="../../static/css/slicknav.min.css"
    />
    <!-- Owl Carousel CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/owl-carousel.css}"
      href="../../static/css/owl-carousel.css"
    />
    <!-- Datepicker CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/datepicker.css}"
      href="../../static/css/datepicker.css"
    />
    <!-- Animate CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/animate.min.css}"
      href="../../static/css/animate.min.css"
    />
    <!-- Magnific Popup CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/magnific-popup.css}"
      href="../../static/css/magnific-popup.css"
    />

    <!-- Medipro CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/normalize.css}"
      href="../../static/css/normalize.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../../static/css/style.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/responsive.css}"
      href="../../static/css/responsive.css"
    />
  </head>
  <body>
    <!-- Header Area -->
    <header class="header">
      <!-- Topbar -->
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-12"></div>
            <div class="col-lg-6 col-md-7 col-12">
              <!-- Top Contact -->
              <ul class="top-contact">
                <li></li>
                <li>
                  <i class="fa fa-envelope"></i
                  ><a href="mailto:support@yourmail.com"
                    >hyperclutter@gmail.com</a
                  >
                </li>
              </ul>
              <!-- End Top Contact -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Topbar -->
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  <a href="/"><h2>dabblelog</h2></a>
                </div>
                <!-- End Logo -->
                <!-- Mobile Nav -->
                <div class="mobile-nav"></div>
                <!-- End Mobile Nav -->
              </div>
              <div class="col-lg-7 col-md-9 col-12">
                <!-- Main Menu -->
                <div class="main-menu">
                  <nav class="navigation">
                    <ul class="nav menu">
                      <li><a href="#"> 글 </a></li>
                      <li><a href="#"> 시리즈 </a></li>
                      <li><a href="#"> 소개 </a></li>
                    </ul>
                  </nav>
                </div>
                <!--/ End Main Menu -->
              </div>
              <div class="col-lg-2 col-12">
                <div class="get-quote">
                  <a href="appointment.html" class="btn">구글 로그인</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->
    <section class="news-single section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="row">
              <div class="col-12">
                <div class="single-main">
                  <!-- News Title -->
                  <h1 class="news-title">
                    <a href="news-single.html">제목</a>
                  </h1>
                  <!-- Meta -->
                  <div class="meta">
                    <div class="meta-left">
                      <span class="author">
                        <a href="#">주연</a>
                      </span>
                    </div>
                    <div class="meta-right">
                      <span class="comments"><a href="#">수정</a></span>
                      <span class="views">삭제</span>
                    </div>
                  </div>
                  <!-- News Text -->
                  <div id="viewer"></div>
                </div>
              </div>
            </div>
            <div class="col-12-7">
              <div class="comments-form">
                <h2 style="display: inline-block; margin-right: 1rem">
                  0개의 댓글
                </h2>
                <h2 style="display: inline-block">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-heart"
                    viewBox="0 0 16 16"
                    style="cursor: pointer"
                  >
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                    />
                  </svg>
                  좋아요 0개
                </h2>
                <!-- Contact Form -->
                <form class="form" method="post" action="#">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group message">
                        <i class="fa fa-pencil"></i>
                        <textarea
                          name="message"
                          rows="7"
                          placeholder="Type Your Message Here"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group button">
                        <button type="submit" class="btn primary">
                          <i class="fa fa-send"></i>댓글 작성
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <!--/ End Contact Form -->
              </div>
              <div class="blog-comments">
                <h2>All Comments</h2>
                <div class="comments-body">
                  <!-- Single Comments -->
                  <div class="single-comments">
                    <div class="main">
                      <div class="head">
                        <img src="img/author1.jpg" alt="#" />
                      </div>
                      <div class="body">
                        <h4>Afsana Mimi</h4>
                        <div class="comment-meta">
                          <span class="meta"
                            ><i class="fa fa-calendar"></i>March 05, 2019</span
                          ><span class="meta"
                            ><i class="fa fa-clock-o"></i>03:38 AM</span
                          >
                        </div>
                        <p>
                          Lorem Ipsum available, but the majority have suffered
                          alteration in some form, by injected humour, or
                          randomised words Mirum est notare quam littera
                          gothica, quam nunc putamus parum claram, anteposuerit
                          litterarum formas
                        </p>
                        <a href="#"><i class="fa fa-reply"></i>replay</a>
                      </div>
                    </div>
                  </div>
                  <!--/ End Single Comments -->
                  <!-- Single Comments -->
                  <div class="single-comments left">
                    <div class="main">
                      <div class="head">
                        <img src="img/author2.jpg" alt="#" />
                      </div>
                      <div class="body">
                        <h4>Naimur Rahman</h4>
                        <div class="comment-meta">
                          <span class="meta"
                            ><i class="fa fa-calendar"></i>March 05, 2019</span
                          ><span class="meta"
                            ><i class="fa fa-clock-o"></i>03:38 AM</span
                          >
                        </div>
                        <p>
                          Lorem Ipsum available, but the majority have suffered
                          alteration in some form, by injected humour, or
                          randomised words Mirum est notare quam littera
                          gothica, quam nunc putamus parum claram, anteposuerit
                          litterarum formas
                        </p>
                        <a href="#"><i class="fa fa-reply"></i>replay</a>
                      </div>
                    </div>
                  </div>
                  <!--/ End Single Comments -->
                  <!-- Single Comments -->
                  <div class="single-comments">
                    <div class="main">
                      <div class="head">
                        <img src="img/author3.jpg" alt="#" />
                      </div>
                      <div class="body">
                        <h4>Suriya Molharta</h4>
                        <div class="comment-meta">
                          <span class="meta"
                            ><i class="fa fa-calendar"></i>March 05, 2019</span
                          ><span class="meta"
                            ><i class="fa fa-clock-o"></i>03:38 AM</span
                          >
                        </div>
                        <p>
                          Lorem Ipsum available, but the majority have suffered
                          alteration in some form, by injected humour, or
                          randomised words Mirum est notare quam littera
                          gothica, quam nunc putamus parum claram, anteposuerit
                          litterarum formas
                        </p>
                        <a href="#"><i class="fa fa-reply"></i>replay</a>
                      </div>
                    </div>
                  </div>
                  <!--/ End Single Comments -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="main-sidebar">
              <!-- Single Widget -->
              <div class="single-widget category">
                <h3 class="title">series</h3>
              </div>
              <!--/ End Single Widget -->

              <!-- Single Widget -->
              <div class="single-widget side-tags">
                <h3 class="title">Tags</h3>
                <ul class="tag"></ul>
              </div>
              <!--/ End Single Widget -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
    <script>
      const viewer = new toastui.Editor({
        el: document.querySelector("#viewer"),
        initialValue: content,
      });

      function turnRed() {}
    </script>
  </body>
</html>
