<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>dabblelog.post</title>

    <!-- Favicon -->
    <link
      rel="icon"
      href="../../static/img/realLogo.png"
      th:href="@{/img/realLogo.png}"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../static/css/bootstrap.min.css"
    />
    <!-- Nice Select CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/nice-select.css}"
      href="../../static/css/nice-select.css"
    />
    <!-- Font Awesome CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/font-awesome.min.css}"
      href="../../static/css/font-awesome.min.css"
    />
    <!-- icofont CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/icofont.css}"
      href="../../static/css/icofont.css"
    />
    <!-- Slicknav -->
    <link
      rel="stylesheet"
      th:href="@{/css/slicknav.min.css}"
      href="../../static/css/slicknav.min.css"
    />
    <!-- Owl Carousel CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/owl-carousel.css}"
      href="../../static/css/owl-carousel.css"
    />
    <!-- Datepicker CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/datepicker.css}"
      href="../../static/css/datepicker.css"
    />
    <!-- Animate CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/animate.min.css}"
      href="../../static/css/animate.min.css"
    />
    <!-- Magnific Popup CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/magnific-popup.css}"
      href="../../static/css/magnific-popup.css"
    />

    <!-- Medipro CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/normalize.css}"
      href="../../static/css/normalize.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../../static/css/style.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/responsive.css}"
      href="../../static/css/responsive.css"
    />
  </head>
  <body>
    <!-- Header Area -->
    <header class="header">
      <!-- Topbar -->
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-12"></div>
            <div class="col-lg-6 col-md-7 col-12">
              <!-- Top Contact -->
              <ul class="top-contact">
                <li></li>
                <li>
                  <i class="fa fa-envelope"></i
                  ><a href="mailto:support@yourmail.com"
                    >hyperclutter@gmail.com</a
                  >
                </li>
              </ul>
              <!-- End Top Contact -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Topbar -->
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  <a href="/" id="logo"><h2>dabblelog</h2></a>
                </div>
                <!-- End Logo -->
                <!-- Mobile Nav -->
                <div class="mobile-nav"></div>
                <!-- End Mobile Nav -->
              </div>
              <div class="col-lg-7 col-md-9 col-12">
                <!-- Main Menu -->
                <div class="main-menu">
                  <nav class="navigation">
                    <ul class="nav menu">
                      <li><a th:href="|${thisBlog}|"> 글 </a></li>
                      <li><a th:href="|${thisBlog}/series|"> 시리즈 </a></li>
                      <li><a th:href="|${thisBlog}/about|"> 소개 </a></li>
                    </ul>
                  </nav>
                </div>
                <!--/ End Main Menu -->
              </div>
              <div class="col-lg-2 col-12">
                <div class="get-quote">
                  <a href="#" class="btn">구글 로그인</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->
    <section class="news-single section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="row">
              <div class="col-12">
                <div class="single-main">
                  <!-- News Title -->

                  <h1 class="news-title" style="display: flex">
                    <a href="news-single.html" th:text="${profile.title}"
                      >제목</a
                    >
                    <button
                      th:if="${canFollow == true}"
                      id="follow"
                      class="btn"
                      style="margin-left: auto"
                      onclick="following()"
                    >
                      팔로우
                    </button>
                  </h1>
                  <!-- Meta -->
                  <div class="meta">
                    <div class="meta-left">
                      <span class="author">
                        <a href="#" th:text="${profile.author}">주연</a>
                      </span>
                    </div>
                    <div class="meta-right">
                      <span class="comments"><a href="#">수정</a></span>
                      <span class="views">삭제</span>
                    </div>
                  </div>
                  <!-- News Text -->
                  <div id="viewer"></div>
                </div>
              </div>
            </div>
            <div class="col-12-7">
              <div class="comments-form">
                <h2
                  style="display: inline-block; margin-right: 1rem"
                  th:text="|${profile.repleCount}개의 댓글|"
                >
                  0개의 댓글
                </h2>
                <h2 style="display: inline-block">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    style="cursor: pointer"
                    fill="grey"
                    class="bi bi-heart-fill"
                    viewBox="0 0 16 16"
                    id="like"
                    onclick="turnRed()"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                    />
                  </svg>
                  <span id="count" th:text="${profile.likeCount}">0</span>
                </h2>
                <!-- Contact Form -->
                <form class="form">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group message">
                        <i class="fa fa-pencil"></i>
                        <textarea
                          id="repleCreate"
                          name="message"
                          rows="7"
                          placeholder="댓글을 입력해주세요."
                        >
                        </textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group button">
                        <button class="btn primary" onclick="createReple()">
                          <i class="fa fa-send"></i>댓글 작성
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <!--/ End Contact Form -->
              </div>
              <div class="blog-comments">
                <h2>All Comments</h2>
                <div class="comments-body">
                  <div th:each="reple : ${reples}">
                    <!-- Single Comments -->
                    <div class="single-comments">
                      <div class="main">
                        <div class="head">
                          <a th:href="${reple.authorBlog}">
                            <img th:src="${reple.authorProfile}" />
                          </a>
                        </div>
                        <div class="body">
                          <h4 th:text="${reple.authorName}">Afsana Mimi</h4>
                          <div class="comment-meta">
                            <span class="meta" th:text="${reple.yearAndMonth}"
                              ><i class="fa fa-calendar"></i>March 05,
                              2019</span
                            ><span class="meta" th:text="${reple.timeAndMinute}"
                              ><i class="fa fa-clock-o"></i>03:38 AM</span
                            >
                          </div>
                          <p th:text="${reple.content}">
                            Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected
                            humour, or randomised words Mirum est notare quam
                            littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas
                          </p>
                          <a onclick="getText()"
                            ><i class="fa fa-reply"></i>replay</a
                          >
                        </div>
                      </div>
                    </div>
                    <!--/ End Single Comments -->
                    <!-- Single Comments -->
                    <div
                      class="single-comments left"
                      th:each="rereple : ${reple.reRepleDTOS}"
                    >
                      <div class="main">
                        <div class="head">
                          <a th:href="${reReple.authorBlog}" id="authorURL">
                            <img th:src="${reReple.authorProfile}" />
                          </a>
                        </div>
                        <div class="body">
                          <h4>Naimur Rahman</h4>
                          <div class="comment-meta">
                            <span class="meta" th:text="${rereple.yearAndMonth}"
                              ><i class="fa fa-calendar"></i>March 05,
                              2019</span
                            ><span
                              class="meta"
                              th:text="${rereple.timeAndMinute}"
                              ><i class="fa fa-clock-o"></i>03:38 AM</span
                            >
                          </div>
                          <b id="to">@name</b>
                          <p th:text="${rereple.content}">
                            Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected
                            humour, or randomised words Mirum est notare quam
                            littera gothica, quam nunc putamus parum claram,
                            anteposuerit litterarum formas
                          </p>
                          <a onclick="getText()"
                            ><i class="fa fa-reply"></i>replay</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/ End Single Comments -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="main-sidebar">
              <!-- Single Widget -->
              <div class="single-widget category">
                <h3 class="title">series</h3>
                <ul></ul>
              </div>
              <!--/ End Single Widget -->

              <!-- Single Widget -->
              <div class="single-widget side-tags">
                <h3 class="title">Tags</h3>
                <ul></ul>
                <ul class="tag"></ul>
              </div>
              <!--/ End Single Widget -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
    <script th:inline="javascript">
      function getText() {
        if (document.querySelector("#logo").getAttribute("href") == "/") {
          alert("댓글을 달려면 로그인 해주세요.");
          return;
        }

        if (
          event.target.parentNode.lastElementChild.getAttribute("class") ==
          "form"
        ) {
          console.log(
            event.target.parentNode.lastElementChild.getAttribute("class")
          );
          const url = "/reple/reply";

          const params = {
            content:
              event.target.parentNode.lastElementChild.querySelector("textarea")
                .innerText,
            url: window.location.href,
            parentDay:
              event.target.parentNode.querySelectorAll("span")[0].innerText,
            parentTime:
              event.target.parentNode.querySelectorAll("span")[1].innerText,
            parentBlogURL: event.target.parentNode.parentNode
              .querySelector("a")
              .getAttribute("href").innerText,
          };

          console.log(params);

          // 3. API 호출
          try {
            const request = fetch(url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json; charset=utf-8;",
              },
              body: JSON.stringify(params),
            }).then((response) => addReply(response));
            console.log(params);
          } catch (error) {
            console.error("저장 실패 : ", error);
            console.log(params);
          }

          event.target.parentNode.lastElementChild.remove();
        } else {
          const cloneTextArea = document.querySelector(".form").cloneNode(true);

          cloneTextArea.setAttribute("action", "/reple/reply");

          cloneTextArea
            .querySelector(".form-group button")
            .setAttribute("style", "display:none");

          event.target.parentNode.appendChild(cloneTextArea);
        }
      }

      const content = "[[${profile.content}]]";
      const viewer = new toastui.Editor({
        el: document.querySelector("#viewer"),
        initialValue: content,
      });

      function createReple() {
        if (document.querySelector("#logo").getAttribute("href") == "/") {
          alert("댓글을 달려면 로그인 해주세요.");
          return;
        }
        const url = "/reple/create";

        const params = {
          content:
            event.target.parentNode.parentNode.parentNode.querySelector(
              "textarea"
            ).innerText,

          url: window.location.href,
        };

        console.log(params);

        // 3. API 호출
        try {
          const request = fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json; charset=utf-8;",
            },
            body: JSON.stringify(params),
          }).then((response) => addReple(response));
          console.log(params);
        } catch (error) {
          console.error("저장 실패 : ", error);
          console.log(params);
        }
      }

      function turnRed() {
        if (document.querySelector("#like").getAttribute("fill") == "grey") {
          document.querySelector("#like").setAttribute("fill", "red");
          document.querySelector("#count").innerText =
            parseInt(document.querySelector("#count").innerText) + 1;
        } else {
          document.querySelector("#like").setAttribute("fill", "grey");
          document.querySelector("#count").innerText =
            parseInt(document.querySelector("#count").innerText) - 1;
        }

        like();
      }

      function like() {
        const url = "/liked/modiCount";

        const params = {
          likeCount: document.querySelector("#count").innerText,
          url: window.location.href,
        };

        console.log(params);

        // 3. API 호출
        try {
          const request = fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json; charset=utf-8;",
            },
            body: JSON.stringify(params),
          });
          console.log(params);
        } catch (error) {
          console.error("저장 실패 : ", error);
          console.log(params);
        }
      }

      function addReple(response) {
        const res = response.json;

        const format = document.querySelector(".single-comments").cloneNode;

        format.querySelector("h4").innerText = res.authorName;

        format.querySelector(p).innerText = res.content;

        format.querySelectorAll("span")[0].innerText = res.yearAndMonth;

        format.querySelectorAll("span")[1].innerText = res.timeAndMinute;

        format.querySelector("img").setAttribute("src", res.authorProfile);

        format.querySelector("#authorURL").setAttribute("href", res.authorBlog);

        document.querySelector(".blog-comments").appendChild(format);
      }

      function addReply(response) {
        const res = response.json;

        const format = document.querySelector(
          ".single-comments left"
        ).cloneNode;

        format.querySelector("h4").innerText = res.authorName;

        format.querySelector(p).innerText = res.content;

        format.querySelectorAll("span")[0].innerText = res.yearAndMonth;

        format.querySelectorAll("span")[1].innerText = res.timeAndMinute;

        format.querySelector("img").setAttribute("src", res.authorProfile);

        format.querySelector("#authorURL").setAttribute("href", res.authorBlog);

        format.querySelector("#to").innerText = res.toName;

        event.target.parentNode.parentNode.parentNode.parentNode.appendChild(
          format
        );
      }

      function following() {
        if (document.getElementById("follow").innerText == "팔로우") {
          following_fetch();
          document.getElementById("follow").innerText = "팔로잉";
        } else {
          document.getElementById("follow").innerText = "팔로우";
        }
      }

      function following_fetch() {
        const url = "/follow";

        const params = {
          followOrNot: document.querySelector("#follow").innerText,
          url: window.location.href,
        };

        console.log(params);

        // 3. API 호출
        try {
          const request = fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json; charset=utf-8;",
            },
            body: JSON.stringify(params),
          });
          console.log(params);
        } catch (error) {
          console.error("저장 실패 : ", error);
          console.log(params);
        }
      }
    </script>
  </body>
</html>
