<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" />
    <title>Title</title>
  </head>
  <body>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
