<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="col-12">
        <div class="comments-form">
          <!-- Contact Form -->
          <form class="form" method="post" action="#">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group">
                  <i class="fa fa-user"></i>
                  <input
                    type="text"
                    name="title"
                    placeholder="제목을 입력하세요"
                    required="required"
                  />
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group">
                  <i class="fa fa-envelope"></i>
                  <input
                    type="text"
                    name="tag"
                    placeholder="태그를 입력하세요"
                    required="required"
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group message">
                  <i class="fa fa-pencil"></i>
                  <textarea
                    name="message"
                    rows="7"
                    placeholder="Type Your Message Here"
                  ></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group button">
                  <button type="submit" class="btn primary">
                    <i class="fa fa-send"></i>발행하기 
                  </button>
                </div>
              </div>
            </div>
          </form>
          <!--/ End Contact Form -->
        </div>
      </div>
    </div>
  </div>
    
</body>
</html>