<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" />
    <title>dabblelog.write</title>

    <!-- TUI 에디터 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="/css/bootstrap.min.css"
    />
    <style>
      .title::placeholder {
        font-size: 2.2em;
        margin-bottom: 0;
      }
      .tag::placeholder {
        font-size: 1.3em;
      }

      .tagAndTitle {
        margin-left: 1rem;
      }
    </style>
  </head>
  <body>
    <!-- Modal -->

    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">시리즈 설정</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <select th:name="series" id="series">
              <option
                th:value="|시리즈 설정 안 함|"
                th:text="|시리즈 설정 안 함|"
              ></option>
              <option
                th:each="series : ${seriesList}"
                th:value="${series.title}"
                th:text="${series.title}"
              ></option>
            </select>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
            <button type="submit" class="btn btn-primary" onclick="savePost();">
              출간하기
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="tagAndTitle">
      <div>
        <label>
          <input
            class="title"
            name="title"
            type="text"
            placeholder="제목을 입력하세요"
            style="outline: none; border: none; height: 66px; width: 433px"
            id="title"
          />
        </label>
      </div>

      <div>
        <input
          class="tag"
          id="tag"
          name="tag"
          type="text"
          placeholder="태그를 입력하세요(공백으로 구분됩니다)"
          style="outline: none; border: none; width: 433px; height: 58px"
        />
      </div>
    </div>

    <!-- 에디터를 적용할 요소 (컨테이너) -->
    <div id="content"></div>

    <div class="writeMenu" style="margin-bottom: 0.2rem; margin-top: 0.2rem">
      <input
        type="button"
        value="임시저장"
        id="tempSave"
        name="tempSave"
        class="btn btn-primary"
        onclick="saveTemp()"
      />
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        출간하기
      </button>
    </div>

    <div class="writeBack">
      <a href="javascript:window.history.back();">
        <button class="sc-evcjhq gJEhHm">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
            ></path>
          </svg>
          <span>나가기</span>
        </button>
      </a>
    </div>

    <!-- Button trigger modal -->

    <!-- TUI 에디터 JS CDN -->

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script th:inline="javascript">
      const editor = new toastui.Editor({
        el: document.querySelector("#content"),
        height: "500px",
        initialEditType: "markdown",
        initialValue: "",
        previewStyle: "vertical",
        hooks: {
          async addImageBlobHook(blob, callback) {
            // 이미지 업로드 로직 커스텀
            try {
              /*
               * 1. 에디터에 업로드한 이미지를 FormData 객체에 저장
               *    (이때, 컨트롤러 uploadEditorImage 메서드의 파라미터인 'image'와 formData에 append 하는 key('image')값은 동일해야 함)
               */
              const formData = new FormData();
              formData.append("image", blob);

              // 2. FileApiController - uploadEditorImage 메서드 호출
              const response = await fetch("/editor/image-upload", {
                method: "POST",
                body: formData,
              });

              // 3. 컨트롤러에서 전달받은 디스크에 저장된 파일명
              const filename = await response.text();
              console.log("서버에 저장된 파일명 : ", filename);

              // 4. addImageBlobHook의 callback 함수를 통해, 디스크에 저장된 이미지를 에디터에 렌더링
              const imageUrl = `/editor/image-print?filename=${filename}`;
              callback(imageUrl, "image alt attribute");
            } catch (error) {
              console.error("업로드 실패 : ", error);
            }
          },
        },
      });
      function savePost() {
        if (editor.getMarkdown().length < 1) {
          alert("에디터 내용을 입력해 주세요.");
          throw new Error("editor content is required!");
        }

        const url = "/post/create";
        const series = document.getElementById("city");
        const params = {
          title: document.getElementById("title").value,
          tag: document.getElementById("tag").value,
          series: document.getElementById("series").value,
          content: editor.getHTML(),
        };

        try {
          const request = fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json; charset=utf-8;",
            },
            body: JSON.stringify(params),
          }).then(response => setTimeout(location.href = [[${myblogURL}]],2000));
          console.log(params);
        } catch (error) {
          console.error("저장 실패 : ", error);
          console.log(params);
        }

      }

      function saveTemp() {
        if (editor.getMarkdown().length < 1) {
          alert("에디터 내용을 입력해 주세요.");
          throw new Error("editor content is required!");
        }

        const url = "/post/tempCreate";
        const params = {
          title: document.getElementById("title").value,
          tag: document.getElementById("tag").value,
          content: editor.getHTML(),
        };
        alert("글 임시저장됨");

        try {
          const request = fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json; charset=utf-8;",
            },
            body: JSON.stringify(params),
          });
          console.log(params);
        } catch (error) {
          console.error("저장 실패 : ", error);
          console.log(params);
        }


      }
    </script>
  </body>
</html>
