@font-face {
  font-family: "세종글꽃";
  src: ;
}

#mainButton {
  display: flex;
  align-items: flex-start;
}

#searchAndProfile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 35rem;
  align-items: baseline;
}

header {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile {
  display: none;
}
nav {
  display: flex;
  flex-direction: row;
}

article {
  display: none;
}

#dabblelogImg {
}

#dabblelog {
  border: none;
  cursor: pointer;

  height: 2rem;

  padding-right: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.word {
  padding-left: 0;
  padding-right: 0;
}

#new {
  padding-right: 0;
  padding-left: 1rem;
}

#login {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-weight: 700;
  height: 2rem;
  width: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}

* {
  box-sizing: inherit;
}

#trendImg {
  padding-left: 1rem;
}

.word {
  font-weight: 700;
  height: 2rem;
  padding-right: 0;
  border: none;
  font-size: 1rem;
}

#newPost {
  display: none;
}

#calendar {
  font-size: 0.5rem;
  font-weight: 700;
}

.alarm {
  display: inline-block;
}

#calendar {
  display: flex;
  align-items: center;
}

#calWord {
  margin-right: 0.3rem;
}
